<!-- Header Bottom -->
  <section class="header-bottom">
    <article>
      <div class="container"><h1>About Us<span></span></h1></div>
    </article>
  </section>
  <section class="breadcrumb">
    <article class="container">
      <div class="row">
        <div class="col-lg-6">
          <ul>
            <li><span class="fa fa-home"></span>&nbsp; You are here:</li>
            <li><a ui-sref="home">Home</a></li>
            <li class="fa fa-angle-right"></li>
            <li>About Us</li>
          </ul>
        </div>
      </div>
    </article>
  </section>
  

  
  <section class="white team" id="our-team">
    <article class="container">
      <h3>Notre equipe</h3>
      <div class="row">
        <div class="col-lg-3">
          <div class="team-item">
            <figure class="team-image">
              <figcaption></figcaption>
              <img src="assets/images/team_1.jpg" alt="img" />
            </figure>
            <div class="team-content">
              <h5><a href="#">Amine <span class="line-green"></span> <span>Developeur Android</span></a></h5>
            </div>
            <div class="team-social">
              <ul>
                <li class="fb"><a href="#" class="transition-all"><i class="fa fa-facebook"></i></a></li>
                <li class="tw"><a href="#" class="transition-all"><i class="fa fa-twitter"></i></a></li>
                <li class="yt"><a href="#" class="transition-all"><i class="fa fa-youtube"></i></a></li>
                <li class="ln"><a href="#" class="transition-all"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="team-item">
            <figure class="team-image">
              <figcaption></figcaption>
              <img src="assets/images/team_2.jpg" alt="img" />
            </figure>
            <div class="team-content">
              <h5><a href="#">Karim <span class="line-yellow"></span> <span>Embarqué</span></a></h5>
            </div>
            <div class="team-social">
              <ul>
                <li class="fb"><a href="#" class="transition-all"><i class="fa fa-facebook"></i></a></li>
                <li class="tw"><a href="#" class="transition-all"><i class="fa fa-twitter"></i></a></li>
                <li class="yt"><a href="#" class="transition-all"><i class="fa fa-youtube"></i></a></li>
                <li class="ln"><a href="#" class="transition-all"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="team-item">
            <figure class="team-image">
              <figcaption></figcaption>
              <img src="assets/images/team_3.jpg" alt="img" />
            </figure>
            <div class="team-content">
              <h5><a href="#">Anour <span class="line-blue"></span> <span>Embarqué</span></a></h5>
            </div>
            <div class="team-social">
              <ul>
                <li class="fb"><a href="#" class="transition-all"><i class="fa fa-facebook"></i></a></li>
                <li class="tw"><a href="#" class="transition-all"><i class="fa fa-twitter"></i></a></li>
                <li class="yt"><a href="#" class="transition-all"><i class="fa fa-youtube"></i></a></li>
                <li class="ln"><a href="#" class="transition-all"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="team-item">
            <figure class="team-image">
              <figcaption></figcaption>
              <img src="assets/images/team_4.jpg" alt="img" />
            </figure>
            <div class="team-content">
              <h5><a href="#">Chamsi <span class="line-red"></span> <span>Embarqué</span></a></h5>
            </div>
            <div class="team-social">
              <ul>
                <li class="fb"><a href="#" class="transition-all"><i class="fa fa-facebook"></i></a></li>
                <li class="tw"><a href="#" class="transition-all"><i class="fa fa-twitter"></i></a></li>
                <li class="yt"><a href="#" class="transition-all"><i class="fa fa-youtube"></i></a></li>
                <li class="ln"><a href="#" class="transition-all"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
		
		<div class="col-lg-3">
          <div class="team-item">
            <figure class="team-image">
              <figcaption></figcaption>
              <img src="assets/images/team_3.jpg" alt="img" />
            </figure>
            <div class="team-content">
              <h5><a href="#">Afef <span class="line-blue"></span> <span>Web</span></a></h5>
            </div>
            <div class="team-social">
              <ul>
                <li class="fb"><a href="#" class="transition-all"><i class="fa fa-facebook"></i></a></li>
                <li class="tw"><a href="#" class="transition-all"><i class="fa fa-twitter"></i></a></li>
                <li class="yt"><a href="#" class="transition-all"><i class="fa fa-youtube"></i></a></li>
                <li class="ln"><a href="#" class="transition-all"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
		<div class="col-lg-3">
          <div class="team-item">
            <figure class="team-image">
              <figcaption></figcaption>
              <img src="assets/images/team_3.jpg" alt="img" />
            </figure>
            <div class="team-content">
              <h5><a href="#">Feryel <span class="line-blue"></span> <span>Design</span></a></h5>
            </div>
            <div class="team-social">
              <ul>
                <li class="fb"><a href="#" class="transition-all"><i class="fa fa-facebook"></i></a></li>
                <li class="tw"><a href="#" class="transition-all"><i class="fa fa-twitter"></i></a></li>
                <li class="yt"><a href="#" class="transition-all"><i class="fa fa-youtube"></i></a></li>
                <li class="ln"><a href="#" class="transition-all"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
		<div class="col-lg-3">
          <div class="team-item">
            <figure class="team-image">
              <figcaption></figcaption>
              <img src="assets/images/team_3.jpg" alt="img" />
            </figure>
            <div class="team-content">
              <h5><a href="#">Rihab <span class="line-blue"></span> <span>Android</span></a></h5>
            </div>
            <div class="team-social">
              <ul>
                <li class="fb"><a href="#" class="transition-all"><i class="fa fa-facebook"></i></a></li>
                <li class="tw"><a href="#" class="transition-all"><i class="fa fa-twitter"></i></a></li>
                <li class="yt"><a href="#" class="transition-all"><i class="fa fa-youtube"></i></a></li>
                <li class="ln"><a href="#" class="transition-all"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
  
 
  <section ng-show="token"  class="send-us">
    <article class="container">
      <h3>Roomy Contact</h3>
      <a ui-sref="" class="btn btn-3 green">Send to us</a>
    </article>
  </section>